<app-page title="Eventos" subtitle="Listado de eventos">
  <div page-actions class="flex flex-col gap-4 md:flex-row md:items-center">
    <p-floatlabel variant="on">
      <p-datepicker showIcon showButtonBar readonlyInput inputId="start-date" iconDisplay="input" />
      <label for="start-date">Fecha de inicio</label>
    </p-floatlabel>
    <p-floatlabel variant="on">
      <p-datepicker showIcon showButtonBar readonlyInput inputId="end-date" iconDisplay="input" />
      <label for="end-date">Fecha final</label>
    </p-floatlabel>
    <p-button label="Buscar" icon="pi pi-search" severity="secondary" />
  </div>

  <app-data-table [bordered]="true" [columns]="columns" [data]="events">
    <div data-table-actions class="flex items-center gap-2">
      <p-button label="Nuevo evento" />
    </div>

    <ng-template appDataTableFilter="executive.name">
      <p-multiselect appendTo="body" optionLabel="name" [options]="executives" />
    </ng-template>

    <ng-template appDataTableFilter="coordinator.name">
      <p-multiselect appendTo="body" optionLabel="name" [options]="coordinators" />
    </ng-template>
  </app-data-table>
</app-page>
