.sidebar-wrapper {
  width: var(--sidebar-width);
  height: 100dvh;
  border-right: 1px solid var(--sidebar-border-color);
  transition: var(--sidebar-transition);
}

.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.sidebar-content {
  width: 100%;
  padding: 0.5rem;
}

.sidebar-content ::ng-deep {
  .p-accordionpanel {
    margin-bottom: 0.25rem;
    border-width: 0;
  }

  .p-accordionheader {
    height: 3rem;
    padding: 0 0.5rem;
    background-color: transparent;
  }

  .p-accordioncontent-content {
    padding: 0 0.5rem 1rem 0.5rem;
    background-color: transparent;
  }
}

.sidebar-menu-sub {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0 0.5rem;
  padding: 0 0.5rem;
  border-left: 1px solid var(--p-surface-200);
}

.sidebar-menu-sub-link {
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  border-radius: var(--p-border-radius-md);

  &:hover {
    background-color: var(--p-surface-100);
    color: var(--p-surface-800);
  }
}

/* Screen >= md */
@media (min-width: 48rem) {
  .sidebar {
    background-color: var(--sidebar-bg-color);
  }
}
