<div class="flex h-dvh flex-col items-center justify-center gap-6 px-6">
  <p-card
    header="Bienvenido de vuelta"
    subheader="Ingresa tus credenciales para acceder al sistema"
    styleClass="text-center border-none md:border-solid md:text-left"
    class="border-surface w-full md:max-w-sm"
  >
    <p-fluid>
      <form class="mt-4 flex flex-col gap-5" [formGroup]="form">
        <p-floatlabel variant="on">
          <p-iconfield>
            <p-inputicon class="pi pi-envelope" />
            <input pInputText id="email" name="email" type="email" autocomplete="email" formControlName="email" />
          </p-iconfield>
          <label for="email">Correo electrónico</label>
        </p-floatlabel>

        <p-floatlabel variant="on">
          <p-iconfield>
            <p-inputicon class="pi pi-lock z-10" />
            <p-password
              id="password"
              name="password"
              formControlName="password"
              [feedback]="false"
              [toggleMask]="true"
              [inputStyle]="{ paddingInlineStart: 'calc((var(--p-form-field-padding-x) * 2) + var(--p-icon-size))' }"
            />
          </p-iconfield>
          <label for="password">Contraseña</label>
        </p-floatlabel>

        <p-button type="submit" label="Iniciar sesión" [disabled]="form.invalid" />
      </form>
    </p-fluid>
  </p-card>
</div>
